:root {
  text-align: center;
  font-family: "Poppins";

  background-color: #f0f2f5;
  height: 100vh;
  background-size: cover;
  width: 100%;
}


 *{
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI,
  Helvetica Neue, Arial, sans-serif;
} 
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

/*------------------------------------------------- Modal Css --------------------------------------------------------------------------*/

.btn-modal {
  display: block;
  margin: 100px auto 0;
  font-size: 15px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(252, 252, 253, 0.7);
}
.modal-content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  /* padding: 14px 28px; */
  border-radius: 3px;
  /* max-width: 600px;
  min-width: 300px; */
  width: 480px;
  height: 560px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
/*------------------------------------------------modal post-------------------------------------------------------*/
.btn-modal_post {
  padding: 10px 20px;
  display: block;

  font-size: 18px;
}

.modal_post,
.overlay_post {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.overlay_post {
  background: rgba(252, 252, 253, 0.7);
}
.modal-content_post {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #aa1824;
  padding: 14px 28px;
  color: #ffffff;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 2;
}

.close-modal_post {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
/*--------------------------------------------------------modal post------------------------------------------*/

/*----------------------------Login & signUp -------------------*/

.container_for_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.container_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.flex_qout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slogan {
  font-size: 60px;
  font-weight: bold;
  color: #e60023;
}
.qout {
  font-size: 22px;
}

.Login {
  width: 410px;
  height: 390px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
}

.all_input_login {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.input_login {
  width: 390px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  border: 0.5px solid #dadde1;
  font-size: 19px;
}

.input_login:focus {
  outline: none !important;
  border-color: #1877f2;
}
.input_signup:focus {
  outline: none !important;
  border-color: #1877f2;
}
.sperate_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_search::placeholder {
  color: #cccecf;
  padding-left: 5px;
}

::placeholder {
  color: #b7b7b8;
}

.line_login {
  border-top: 1px solid #dadde1;
  padding-bottom: 10px;
}

.craete_new_account {
  width: 250px;
  height: 50px;
  background-color: #df0021;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
}

.craete_new_account:hover {
  background-color: #b6001b;
}

.register-content {
  width: 480px;
  height: 560px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 5px #dadcdf;
  align-items: center;

  gap: 15px;
}

.title_close {
  display: flex;
  align-items: center;
  gap: 220px;
}

.icon_close {
  font-size: 25px;
  cursor: pointer;
}

.icon_close:hover {
  color: rgb(131, 127, 127);
}

.titRegis {
  font-size: 40px;
  font-weight: bold;
}
.gap_inpt_signup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.line_signup {
  border-top: 1px solid #dadde1;
  padding-bottom: 5px;
}

.input_signup {
  width: 390px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  border: 0.5px solid #dadde1;
  font-size: 19px;
  display: flex;
}

.buttonRegs {
  width: 250px;
  height: 50px;
  background-color: #df0021;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
}

.buttonRegs:hover {
  background-color: #b6001b;
}

.button_login {
  width: 390px;
  height: 50px;
  outline-style: none;
  background-color: #17a6e6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button_login:hover {
  background-color: #0976a8;
}

/*--------------------------------------Nav Bar ----------------*/
.nav {
  background-color: #ffffff;

  /* width:1695px; */
  width: 100%;
  height: 53px;
  box-shadow: 1px 2px 5px #dddfe2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 3;
}

body {
  margin: 0;
  padding: 0;
}
.chat{

  font-size:30px;
  cursor: pointer;
  color: #17a6e6;
}


.chat:hover {
  color: #0982b9;;
}

.user_nav{

  display: flex;
  align-items: center;

  gap: 5px;
}

.img_user_nav{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
 cursor: pointer;
  box-shadow: 0 0 3px rgb(145, 144, 144);
}
.userName_font_nav{
font-size: 1.1rem;
cursor: pointer;
}

.userName_font_nav:hover{
  color: #17a6e6;
}


.logo_search {
  display: flex;
  align-items: center;
}
.logo {
  color: #1877f2;
  font-size: 45px;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 15px;
  border: none;
  outline: none;
}

.input_search {
  width: 250px;
  height: 35px;
  border-radius: 15px;
  border: 0.1px solid #f1f1f1;
  outline: none;
  background-color: transparent;
}

.input_search:focus {
  outline: none !important;
  background-color: #ffffff;
  border-color: #d9dbdf;
  transition: 0.6s;
  box-shadow: 0.5px 0.5px 3px #d9dbdf;
}

.style_logOut {
  display: flex;
  gap: 5px;
  align-items: center;
}



.LogOut {
  border: none;

  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  width: 110px;
  height: 27px;
  font-size: 15px;
  background-color:  #17a6e6;;
  font-weight: bold;
}

.LogOut:hover {
  background-color: #0982b9;;
}


.home_icon {
  font-size: 37px;
  color:  #17a6e6;
  cursor: pointer;
}

.home_icon:hover {
  color: #0982b9;;
}

/*---------------------------------Home Page -------------------*/
.contain_all_home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 65px;
}

.middle_home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post {
  position: relative;
  width: 40rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 26px 0;
}

.postWrapper {
  padding: 17px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.icon_popup {
  font-size: 20px;
}

.postTopRight {
  cursor: pointer;
  color: #645f5f;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  width: 32px;
  height: 32px;
}
.postTopRight:hover {
  width: 32px;
  height: 32px;
  transition: all 0.3s;

  background: #e9e0e0;
}

.postProfileImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 0.1px solid rgb(238, 232, 232); */
  box-shadow: 0 0 3px rgb(145, 144, 144);
}

.postUsername {
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postText {
  display: flex;
  text-align: left;
  color: #383a46;
  font-size: 1rem;
}
.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  border-radius: 0.5rem;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  cursor: pointer;
  color: #d1cacb;
}

.likeIcon_heart {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  cursor: pointer;
  color: #d1cacb;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;

  font-size: 21px;
  color: #17a6e6;
}


/*-----------------------------Create New Post Home -------------------*/
.creat_post_all {
  padding-top: 20%;
}

.create_post {
  position: relative;
  width: 40rem;
  height: 17.5rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: #ffffff;
  /* margin: 5px 0; */
}

.pen_publish {
  display: flex;
  gap: 5px;
  padding-left: 20px;
  align-items: center;
  justify-content: flex-start;
  height: 3rem;
  color: #6c708b;
  
}

.publish {
  font-size: 1.2rem;
}

.border_bottom_create {
  border: 0.5px solid #dbdbdb;
}

.content_create_post {
  display: flex;
  gap: 9px;
  align-items: center;
  height: 11rem;
  padding-left: 20px;
}

.img_user_creat_post {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
  box-shadow: 0 0 3px rgb(145, 144, 144);
}

.textarea {
  padding: 0;
  border-color: transparent;
  resize: none;
  outline: none;
  border: none;
}

.textarea[rows] {
  height: initial;
  resize: none;
}

.textarea {
  display: block;

  padding: calc(0.75em - 1px);
  resize: vertical;
}

.textarea,
.input {
  max-width: 100%;
  width: 100%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}

.upload_media_post {
  border-top: 0.5px solid #dbdbdb;
  display: flex;
  align-items: center;
  padding: 7px 0px 5px 10px;
}

.compose-option {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-weight: 400;
  line-height: 1.5;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  box-sizing: inherit;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 16px;
  margin-right: 10px;
  background: #17a6e6;
  border-radius: 500px;
  font-size: 0.85rem;
  color: #fdfdfd;
  transition: all 0.3s;
}

.media {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  line-height: 1.5;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  font-size: 0.85rem;
  color: #ffffff;
  box-sizing: inherit;
  font-style: inherit;
  font-weight: inherit;
  display: block;
  padding: 0 8px;
}

#feed-upload-input-2 {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  box-sizing: inherit;
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

/* .compose-option:hover {
  color: black;
  transition: all 0.3s;
} */

.icon_pen:hover {
  color: black;
  transition: all 0.3s;
}

/*-------------------------New Post Page Post--------------------*/

.chat_button {
  cursor: pointer;
  box-sizing: inherit;
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 16px;
  margin-right: 5px;
  background: #c71717;
  border-radius: 8px;
  font-size: 0.93rem;
  color: #f4f4f5;
  transition: all 0.3s;
  border: none;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

/*--------------------------Profile Page Css ------------------------------------------*/
.mid_profile_page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30rem;
}

.all_posts_profile_page {
  margin-right: 12rem;
}

.top_profile_page {
  padding-top: 2.5rem;
}
.btn-modal_profile {
  display: block;
  margin: 100px auto 0;
  font-size: 15px;
}

.modal_profile,
.overlay_profile {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.overlay_profile {
  background: rgba(98, 98, 98, 0.4);
}
.modal-content_profile {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 2;
}

.close-modal_profile {
  position: absolute;
  top: 5.5px;
  right: -25px;
  padding: 5px 3px;
  font-size: 37px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(119, 111, 111);
}

.close-modal_profile :hover {
  color: #a51010;
  transition: all 0.2s;
}

.all_avatar {
  display: flex;
  flex-direction: column;
}
.avatar {
  color: #344258;

  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.avatar-button {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #3d70b2;
  box-shadow: 0 14px 26px -12px rgba(61, 112, 178, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(61, 112, 178, 0.2) !important;
  cursor: pointer;
  margin-top: 7rem;
  margin-left: 4.5rem;
  z-index: 3;
}

.avatar-button:hover {
  background: #265694;
  transition: all 0.3s;
}

.feather_feather-plus {
  color: #344258;

  border-radius: 50%;
  box-shadow: 0 14px 26px -12px rgba(85, 150, 230, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 150, 230, 0.2) !important;

  cursor: pointer;
  color: #fff;
}

.avatar-image {
  color: #344258;
  box-sizing: inherit;
  max-width: 100%;
  position: absolute;
  object-fit: cover;
  height: 140px;
  width: 139px;
  border-radius: 50%;
  box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.3) !important;
  cursor: pointer;
}

.userName_profile {
  padding-top: 75px;
  font-size: 1.75rem;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  height: 8rem;

  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  font-weight: 600;
  color: #393a4f;
  line-height: 1.2;

  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 13px -8px rgba(0, 0, 0, 0.68);
}

.cover_photo {
  background-color: #3bb1e7;
  width: 70.5rem;
  height: 20rem;
  position: relative;

  height: auto;
  max-width: 100%;
  display: block;
  border-radius: 3px;
  /* object-position: top; */
  object-fit: cover;

  max-height: 370px;
  cursor: pointer;
}

.cover_and_button {
  display: flex;
  flex-direction: column;
}

.edit_cover_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;

  margin: 10px;
  background: #c71717;
  border-radius: 8px;
  font-size: 0.93rem;
  color: #f4f4f5;
  transition: all 0.3s;
  border: none;
  width: 7rem;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  position: absolute;
  z-index: 2;
}

.userBasicInfo {
  width: 20rem;
height: 35rem;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 26px 0;
}

.userBasicInfo_title_post {
  position: relative;
  width: 40rem;
  height: 3rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: #ffffff;
  margin: 26px 0; 


 
 
}

.userBasicInfo_title{
  display: flex;

  flex-direction: column;
   width: 20rem; 

  height: 3rem;

  background-color: #ffffff;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);

   margin: 26px 0; 

   margin-left: 12.2rem; 

}
.post_title{

  font-size: 1.1rem;
  display: flex;

  
  line-height: 1.5;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  color: #344258;


  font-weight: 500;
 padding: 9px 0px 0px 10px; 
 
}

.title_font {
  font-size: 1.1rem;
  display: flex;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  line-height: 1.5;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  color: #344258;
  box-sizing: inherit;
  margin: 0;

  font-weight: 500;
  padding: 9px 0px 0px 10px;
}

._info {
 
  font-size: 1rem;
  display: flex;

  -webkit-font-smoothing: antialiased;

  line-height: 1.5;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  color: #344258;

 
  padding: 5px 0px 6px 10px;
}

.flex_col_info {
  display: flex;
  flex-direction: column;
  width: 20rem;


}

.title_info_info {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  line-height: 1.5;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;

  font-style: inherit;
  display: block;
  font-size: 1.05rem;
  font-weight: 500;
  color: #393a4f;
  display: flex;
  padding: 5px 0px 0px 10px;
}

._info_re{

 
  font-size: 1rem;
  display: flex;

  -webkit-font-smoothing: antialiased;

  line-height: 1.5;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  color: #344258;

 
  padding: 5px 0px 6px 10px;
}
.flex_row{
  display: flex;
  justify-content: space-between;
max-width: 18rem;
  align-items: center;
  /* border-bottom: 0.5px solid #dbdbdb; */
 
  
}

.info_icon{
  font-size: 2rem;
  color: #527cc5;
}
.border_info{
    border-bottom: 0.5px solid #dbdbdb; 
}