:root {
  text-align: center;
  font-family: "Poppins";

  background-color: #f0f2f5;
  height: 100vh;
  background-size: cover;
  width: 100%;
}

* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.post {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 400px;
}
.onePost {
  border: 0.5px solid brown;
}
.navigation {
  margin: 50px;
}

.Home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

/*------------------------------------------------- Modal Css --------------------------------------------------------------------------*/

.btn-modal {

  display: block;
  margin: 100px auto 0;
  font-size: 15px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(252,252,253,0.7);
}
.modal-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  /* padding: 14px 28px; */
  border-radius: 3px;
  /* max-width: 600px;
  min-width: 300px; */
  width: 480px;
  height: 560px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

/*----------------------------Login & signUp -------------------*/

.container_for_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.container_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.flex_qout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slogan {
  font-size: 60px;
  font-weight: bold;
  color: #e60023;
}
.qout {
  font-size: 22px;
}

.Login {
  width: 410px;
  height: 390px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 7px #dadcdf;
}

.all_input_login {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.input_login {
  width: 390px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  border: 0.5px solid #dadde1;
  font-size: 19px;
}

.input_login:focus {
  outline: none !important;
  border-color: #1877f2;
}
.input_signup:focus {
  outline: none !important;
  border-color: #1877f2;
}
.sperate_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_search::placeholder {
  color: #cccecf;
  padding-left: 5px;
}


::placeholder {
  color: #b7b7b8;
}

.line_login {
  border-top: 1px solid #dadde1;
  padding-bottom: 10px;
}

.craete_new_account {
  width: 250px;
  height: 50px;
  background-color: #df0021;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
}

.craete_new_account:hover{
  background-color: #b6001b;
}

/* .register {

  top: 12%;
  transition: 0.5s;
}
 */

.register-content {
  width: 480px;
  height: 560px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -0.2px 1px 5px #dadcdf;
  align-items: center;


  gap: 15px;
}

.title_close {
  display: flex;
  align-items: center;
  gap: 220px;
}

.icon_close{
  font-size: 25px;
  cursor: pointer;
}

.icon_close:hover{
  color: rgb(131, 127, 127);
}

.titRegis {
  font-size: 40px;
  font-weight: bold;
}
.gap_inpt_signup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.line_signup {
  border-top: 1px solid #dadde1;
  padding-bottom: 5px;
}

.input_signup {
  width: 390px;
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  padding-left: 10px;
  border: 0.5px solid #dadde1;
  font-size: 19px;
  display: flex;
 
}

.buttonRegs {
  width: 250px;
  height: 50px;
  background-color: #df0021;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
}

.buttonRegs:hover {
  background-color: #b6001b;
}

.button_login {
  width: 390px;
  height: 50px;
  outline-style: none;
  background-color: #17A6E6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button_login:hover{
  background-color: #0976a8;
}


/*--------------------------------------Nav Bar ----------------*/
.nav {
  background-color: #ffffff;

  /* width:1695px; */
  width: 100%;
  height: 53px;
  box-shadow: 1px 2px 5px #dddfe2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 2;
}

body {
  margin: 0;
  padding: 0;
}

.logo_search {
  display: flex;
  align-items: center;
}
.logo {
  color: #1877f2;
  font-size: 45px;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}


.search {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 15px;
  border: none;
  outline: none;
}

.input_search {
  width: 250px;
  height: 35px;
  border-radius: 15px;
  border: 0.1px solid #f1f1f1;
  outline: none;
  background-color: transparent;
}


.input_search:focus {
  outline: none !important;
background-color: #ffffff;
border-color: #d9dbdf;
transition: 0.6s;
box-shadow: 0.5px 0.5px 3px #d9dbdf;

}


.style_logOut {
  display: flex;
  gap: 5px;
  align-items: center;
}

.LogOut:hover {
  background-color: #b6001b;
}

.LogOut {
  border: none;

  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  width: 110px;
  height: 27px;
  font-size: 15px;
  background-color: #df0021;
  font-weight: bold;
}

.home_icon {
  font-size: 37px;
  color: #df0021;
  cursor: pointer;
}

.home_icon:hover{
  color: #b6001b;
}